.btn {
    background-color: var(--orange);
    padding: 6px 18px;
    color: #f9f9f9;
    border-radius: 14px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 200ms linear;
}

.btn:hover {
    background: var(--dark-blue);
    transition: 250ms linear;
}

/* Botões da sessão interativa da index */

.interactive-btn {
    display: inline-block;
    padding: 4px 16px;
    font-size: .9rem;
    width: 115px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    margin: .5rem;
}

.interactive-btn:active {
    background-color: rgba(255, 255, 255, 1);
    color: var(--dark-blue);
}