* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --orange: #F67A00;
   --dark-blue: #1A202D;
   --white: #ffffff;
   --light-blue: #9CAEC6;
   --grey: #9a9999;
   --padding-mobile: 1.5rem;
   --pading-desktop: 5rem;
   --primary-font: 'Poppins', sans-serif;
}


html {
   font-family: var(--primary-font);
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}

.container {
   padding: var(--padding-mobile);
}

h2 {
   text-transform: uppercase;
}