* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --orange: #F67A00;
   --dark-blue: #1A202D;
   --white: #ffffff;
   --off-white: #E5E5E5;
   --light-blue: #9CAEC6;
   --grey: #9a9999;
   --padding-mobile: 3rem;
   --padding-desktop: 4.5rem 7rem;
   --primary-font: 'Poppins', sans-serif;
}


html {
   font-family: var(--primary-font);
   scroll-behavior: smooth;
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}

.container {
   width: 100%;
   overflow-x: hidden;
}

h2 {
   text-transform: uppercase;
   font-size: 1.8rem;
}

.p-mob {
   padding: var(--padding-mobile);
}

.p-desk {
   padding: var(--padding-desktop);
}

.content {
   width: 100%;
   max-width: 1540px;
   margin: 0 auto;
   padding: 10px;
}